<html lang="en">
	<%- include("./partials/head.ejs") %>

	<body>
		<div class="content">
			<h3>Welcome to NodeBlogs!</h3>
			<p>Your email is successfully verifed.</p>
			<a href="/login">Login to Continue</a>
		</div>

		<%- include("./partials/footer.ejs") %>
	</body>
</html>
